<!doctype html>
<html>

<head>
  <style>
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
  <title>ShopTech</title>
  <script>
    window.addEventListener("load", function () {
      console.info("Inicjalizuję obsługę formularza wysyłającego asynchronicznie JSON");
      form_json = document.getElementById("form-json");
      form_json.addEventListener("submit", function (event) {
        event.preventDefault();
        console.info("Zablokowano domyślną obsługę");

        data = new FormData(form_json);
        json = JSON.stringify(Object.fromEntries(data));

        fetch("/with-json", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: json
        }).then((response) => response.text())
          .then((text) => console.info(text));
      });
    });
  </script>
</head>

<body>
  <h1>Shop Tech</h1>
  </div>
  <div class="login">
    <p style="text-align: center;">LOGIN FORM
    <form action="/with-get" method="get">
      <input name="username" value="admin" type="text" />
      <br />
      <input name="password" value="lupa.8" type="password" />
      <br />
      <input name="submit" value="log in" type="submit" />
      <br />
    </form>
    </p>
  </div>

  <p>
  <form action="/products" method="get">
    <label>Search Product: </label>
    <input type="text" id="search_product" name="search_product">
    <input name="find_prod" value="find" type="submit" />
  </form>
  </p>

  <!-- 
    <div style="background-color: #a3b18a;
    border: 15px solid #344e41;
    width: 800px;
    height: 250px;
    padding: 50px;
    margin: 20px;">
  -->

  <div style="background-color: #a3b18a;
    border: 15px solid #344e41;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
    margin: 20px;">
    <h2>Lista produktow wyswietli sie po wpisaniu nazwy</h2>
  </div>

  <footer>
    <p>Author: Michal Zdanuk<br>
    <a href="https://github.com/michalzdanuk">github.com/michalzdanuk</a></p>
  </footer>
</body>

</html>