{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login Page</h1>

  <div class="container">
    <form action="/with-post" method="post">
      <div class="form-group">
        <label class="bold" for="username">Username:</label>
        <input type="text" class="form-control" placeholder="Enter username" name="username" size="20">
      </div>
      <div class="form-group">
        <label class="bold" for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
      </div>
      <input name="submit" value="wyślij" type="submit" />
    </form>
  </div>
{% endblock %}